/* general-styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: unset
}
li{
    list-style: none;
}
/* common */
.main-padd{
    padding: 0 8rem;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-merely{
    display: flex;
    align-items: center;
}
.text-white{
    color: white;
}
:root{
    --main-color: rgb(8, 100, 31);
}

/* header */
header{
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.container{
    padding: 15px 0;
}
.site-brand.flex{
    gap: 6px;
}
nav.flex{
    gap: 15px;
}
.log span{
    margin-left: 6px;
}

/* main */
main{
    margin-top: 45px;
    background-color: var(--main-color);
    height: 300px;
}
.main-heading{
    padding-top: 60px;
}
.btns{
    margin-top: 20px;
}
.btns button{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid white;
    font-size: 1.1rem;
}
.btns button.active{
    background-color: white;
    color: black;
}
.btns button:nth-child(2) , .btns button:nth-child(3){
    margin-left: 5px;
}
.search-fields{
    margin-top: 10px;
}
.search-field{
    position: relative;
} 
.search-field input{
    height: 100%;
    padding: 35px 25px 10px 20px;
}
.search-field input::placeholder{
    
    text-overflow: ellipsis;
}
.search-fields:nth-child(1) input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 8px;
}
.search-fields:nth-child(5) input{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 8px;
}
.text-in-input{
    position: absolute;
    top: 10px;
    left: 25px;
    z-index: 5;
    color: black;
}
.search-btn{
    background-color: rgb(255, 255, 255);
    padding: 22.5px 10px;
    border-radius: 10px;
    color: var(--main-color);
}
.parent{
    position: relative;
}
.parent.flex-merely , .search-fields.flex-merely{
    gap: 4px;
}
.search-suggst{
    position: absolute;
    top: 71px;
    left: 0;
    background-color: white;
    color: black;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    display: none;
    border: 1px solid black;
    z-index: 10;
}
.search-suggst-container{
    margin-bottom: 25px;
    padding: 5px;
}
.search-suggst-container:hover{
    background-color: rgb(216, 213, 213);
}
.search-suggst-container.flex-merely{
    gap: 15px;
}
.search-suggst.two{
    left: 50%; 
}
.dest .city{
    cursor: pointer;
}
.dest .bottom{
    margin-top: 10px;
}
.left-right-arrows , .up-down-arrows{
    background-color: white;
    color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    left: calc(50% - 20px);
    z-index: 11;
}
.rotate{
    transform: rotate(180deg);
    transition: 0.3s;
}
.left-right-arrows.flex-merely{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}
.dest-arrows i{
    font-size: 0.8rem;
    transition: 0.3s;
}
.date-parent{
    position: absolute;
    top: 71px;
    left: -100%;
    background-color: white;
    color: black;
    width: 250%;
    border-radius: 10px;
    padding: 15px 0px;
    display: none;
    border: 1px solid black;
}
.calender-for{
    text-align: center;
    margin-bottom: 15px;
}
.date-parent .upper{
    position: relative;
}
.date-parent .upper , .date-parent .month-pick , .date-parent .bottom{
    padding: 0px 20px;
}
.dates-btns.flex-merely{
    flex-grow: 1;
    justify-content: center;
    gap: 5px;
}
.dates-btns button{
    padding: 10px 15px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.return-btn{
    padding: 10px 15px;
    background-color: white;
    color: black;
    border-radius: 6px;
    position: absolute;
    top: 0px;
    left: 20px;
}
.return-btn.flex{
    gap: 10px;
}
.dates-btns button.active{
    background-color: green;
    color: white;
}
.arrows{
    position: relative;
    margin-top: 30px;
}
.arrow-left , .arrow-right{
    position: absolute;
    top: o;
    height: 30px;
    width: 30px;
    border-radius:50%;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-left{
    left: 0;
}
.arrow-right{
    right: 0;
}
.stoped{
    color: rgb(172, 170, 170);
    background-color: rgb(241, 240, 240);
}
.date-container.flex{
    align-items: flex-start;
}
.date-container .current{
    padding-left: 30px;
}
.date-container .current , .date-container .next{
    width: 45%;
}
.month{
    margin-bottom: 20px;
    text-align: center;
}
.days-of-week h3{
    height: 30px;
    width: 30px;
}
.days-of-week , .month-days{
    display: grid;
    grid-template-columns: repeat(7 ,1fr);
    text-align: center;
} 
.month-days li{
    margin: 10px 0px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.month-days li.active{
    background-color: green;
    color: white;
    border-radius: 50%;
}
.inactive{
    color: rgb(204, 201, 201);
} 
.apply-btn{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 8px;
}
.trav{
    position: absolute;
    top: 71px;
    left: -100%;
    background-color: white;
    color: black;
    width: 200%;
    padding: 15px;
    border-radius: 10px;
    display: none;
    border: 1px solid black;
}
.trav .med{
    margin: 30px 0;
}
.trav .med .child{
    margin-top: 15px;
}
.trav .med button{
    padding: 8px;
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
}
.trav .med .num{
    margin: 0 10px;
}

/* media-query */
@media(max-width:1440px){
    /* common */
    .main-padd{
        padding: 0 1rem;
    }
    /* main */
    .search-field input{
        padding-right: 0;
        width: 160px;
    }
    .search-field input::placeholder{
        font-size: 0.7rem;
    }
    .text-in-input{
        font-size: 0.8rem;
    }
}
@media(max-width:910px){
    /* common */
    /* main */
    .search-field input{
        padding-right: 0;
        width: 130px;
    }
    .search-field input::placeholder , .text-in-input , .left-right-arrows i , .search-btn {
        font-size: 0.6rem;
    }
    .left-right-arrows{
        height: 30px;
        width: 30px;
        left: calc(50% - 12.5px);
    }    
    .search-btn {
        padding: 25px 7px;
        border-radius: 6px;
    }
}
@media(max-width: 768px){
    main{
        height: auto;
    }
    .search-fields.flex-merely , .parent.flex-merely{
        flex-direction: column;
        align-items: flex-start;
    }
    .parent , .search-field , .search-field input{
        width: 100%;
    }
    .left-right-arrows{
        display: none;
    }
    .up-down-arrows{
        font-size: 0.8rem;
        text-align: center;
        left: 80%;
        top: calc(50% - 20px);
        z-index: 10;
    }
    .up-down-arrows.flex-merely {
        justify-content: center;
        gap: 3px;
    }
    .search-field input::placeholder , .text-in-input , .left-right-arrows i , .search-btn {
        font-size: 1rem;
    }   
    .search-btn {
        width: 100%;
        border-radius: 6px;
    }
    .search-suggst.two{
        left: 0%; 
    }
    .trav{
        top: 71px;
        left: 0%;
        width: 100%;
    }
    .date-parent{
        left: 0%;
        width: 100%;
        z-index: 12;
        font-size: 0.8rem;
    }
    .date-parent .upper{
        display: none;
    }
    .date-container .current {
        padding-left: 0px;
    }
    .date-parent .month-pick, .date-parent .bottom {
        padding: 0px 10px;
    }
    .next{
        display: none
    }
    .date-container .current{
        width: 100%;
    }
}
@media(max-width:425px){
    /* common */
    .main-padd{
        padding: 0 1rem;
    }
    /* header */
    .globe , .log-in{
        display: none;
    }
    /* main */
    .main-heading{
        font-size: 1.6rem;
    }
}
@media(max-width:320px){
    /* header */
    .site-brand h2{
        font-size: 1rem;
    }
    header .container i{
        font-size: 0.6rem;
    }
    /* main */
    .btns button{
        padding: 5px;
        border-radius: 3px;
        font-size: 0.8rem;
    }
}